<div>
  <ul>
    <h1><%= @post.title%> by <%= @user.name%> </h1>
    <div>
      <p>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></p>
    </div>
  </ul>
  <p> <%= @post.text %></p>
</div>
<div>
  <% @post.comments.each do |comment| %>
    <div>
      <p><%=@post.user.name %>: <%= comment.text%></p>
    </div>
  <% end %>
</div>
